/* header */

.str-header-top {
    padding: 0 16px;
    border-bottom: 3px solid #e60000;
    background-color: #ffffff;
}
.str-header-body--top {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 57px;
}
.str-header-body {
    max-width: 1200px;
    margin: 0 auto;
}
.str-header-body > :first-child {
    margin-top: 0;
}
.str-header__logo-link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.str-header__logo-link:hover,
.str-header__logo-sub a:hover {
  opacity: 1;
}
.str-header-body > :last-child {
    margin-bottom: 0;
}
.str-header__logo-sub {
    height: 20px;
}
.str-header__logo-sub img {
    width: 100%;
    vertical-align: unset;
}
@media screen and (max-width: 767px) {
    .str-header-top {
        z-index: 5000;
        position: relative;
    }
    .str-header-body--top {
        justify-content: center;
        padding-right: 44px;
        gap: 0 14px;
    }
    .str-header__logo-main {
        width: 100%;
    }
    .str-header__logo-text {
        display: none;
    }
    .str-header__logo-sub {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .str-header-top {
        border-bottom-width: 4px;
    }
    .str-header-body--top {
        height: 86px;
    }
    .str-header__logo-link {
        gap: 0 18px;
    }
}

/* footer */

#footer {
  background-color: #eee;
  border-top: 10px solid #b61018;
  width: 100%;
  padding: 0;
  font-size: 14px; }

#footer * {
  box-sizing: content-box;
  line-height: 1.75; }

#footer a {
  color: #005699;
  text-decoration: underline; }

#footer a:hover {
  opacity: 1; }

#footer .contents_inner {
  max-width: 1000px;
  margin: 0 auto; }

#footer .cover2 {
  background: #505050; }

#footer_bg {
  background: #DDDDDD;
  padding: 15px 0 5px;
  height: 40px; }

#footer_bg dl {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  background: url(/lp/wbo/images/footer_txt.gif) no-repeat 0 0;
  height: 29px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

span.blank {
  display: inline-block;
  background: url(/lp/wbo/images/icon_blank.png) no-repeat left 0px;
  padding: 0px 0px 0px 18px;
  margin: 3px 0px -5px 3px;
  min-height: 16px;
  height: auto !important; }

span.pdf {
  background: transparent url(/lp/wbo/images/icon_pdf_s.gif) no-repeat left center;
  display: inline-block;
  height: auto !important;
  margin: 0 0 0 3px;
  min-height: 16px;
  padding: 0 0 0 30px; }

#pagetop_btn a {
  display: block;
  float: right;
  background: url(/lp/wbo/images/btn_pagetop.png) no-repeat left top;
  width: 130px;
  height: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  margin-top: -33px;
  position: relative; }

#pagetop_btn {
  margin: 0 !important; }

#footer_bana {
  clear: both;
  padding: 15px 0 0 10px;
  overflow: hidden;
  margin: 0 auto 20px; }

#footer_bana li {
  float: left;
  margin-right: 30px; }

#footer_bana li.btn04 {
  margin-right: 0; }

#footer_bana li a {
  display: block;
  height: 54px;
  width: 217px;
  text-indent: -9999px;
  background-image: url(/lp/wbo/images/footer_bana.png); }

#footer_bana li.btn01 a {
  background-position: 0 0; }

#footer_bana li.btn01 a:hover {
  background-position: 217px 0; }

#footer_bana li.btn02 a {
  background-position: 0 164px; }

#footer_bana li.btn02 a:hover {
  background-position: 217px 164px; }

#footer_bana li.btn03 a {
  background-position: 0 109px; }

#footer_bana li.btn03 a:hover {
  background-position: 217px 109px; }

#footer_bana li.btn04 a {
  background-position: 0 54px; }

#footer_bana li.btn04 a:hover {
  background-position: 217px 54px; }

#footer_textlink {
  font-size: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 15px; }

#footer_textlink ul {
  padding: 0 0 10px 0;
  text-align: center; }

#footer_textlink ul:first-child {
  margin-top: 20px; }

#footer_textlink li {
  display: inline-block;
  padding: 0 5px 0 5px;
  overflow: hidden;
  line-height: 2; }

#footer_textlink li a {
  padding-left: 15px;
  background: url(/lp/wbo/images/arrow_footer.png) no-repeat left center; }

#footer_textlink li img {
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 5px; }

#footer_textlink hr {
  max-width: 980px;
  border-top: 1px #c5c2c2 solid;
  border-bottom: 1px #fff solid;
  height: 0; }

#footer_inner2 {
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 15.2px;
  border-top: 10px solid #eee;
  background: #eee; }

#footer_inner2 li {
  display: inline;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #222; }

#footer_inner2 li.last {
  display: inline;
  border-right: none;
  padding-right: 0;
  margin-right: 0; }

#footer_inner2 li a {
  background: url(/lp/wbo/images/arrow_news.png) no-repeat left center;
  padding-left: 20px; }

#footer_inner3 {
  background: #505050;
  color: #fff;
  font-size: 86%;
  padding: 20px 0;
  max-width: 980px;
  margin: 0 auto; }

#footer_inner3 img {
  width: auto; }

#footer_inner3 img:last-child,
#copyright {
  display: none; }

#page-top {
  display: none;
  width: 50px;
  height: 50px;
  background: rgba(80, 80, 80, 0.6);
  border-radius: 100px;
  position: fixed;
  bottom: 7%;
  right: 100px;
  z-index: 100;
  transition: all 0s;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  font-size: 2rem; }


/* str-footer-important-box */
.str-footer-important-box {
  padding-block: 16px;
}
.str-footer-important-box {
  padding: 24px 16px;
  background-color: #fcefef;
}
.str-footer-important-box-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 980px;
  margin-inline: auto;
  gap: 16px 40px;
}
.str-footer-important-box-inner__title {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 27px 5px 5px;
  border-radius: 16px;
  background-color: #b40001;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
}
.str-footer-important-box-inner__title::before {
  display: block;
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url(/assets/img/common/icon-important-footer.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}
.str-footer-important-box-inner__content {
  align-self: center;
}
.str-footer-list-link {
  display: grid;
  grid-template-rows: 1fr;
}
.str-footer-important-box-inner__content > :last-child {
  margin-bottom: 0;
}
.str-footer-important-box-inner__content > :first-child {
  margin-top: 0;
}
.str-footer-list-link--bottom {
  gap: 12px;
}
.str-footer-list-link__link {
  display: block;
  position: relative;
  padding-left: 16px;
  color: #333333 !important;
  text-decoration: none !important;
  transition: color 0.3s ease;
}
.str-footer-list-link__link:hover {
  color: #b40001 !important;
  text-decoration: underline !important;
}
.str-footer-list-link__link::before {
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-top: 2px solid #b40001;
  border-right: 2px solid #b40001;
  content: "";
}
@media screen and (max-width: 767px) {
  #footer {
    margin-top: 0;
    padding-bottom: 62px;
    position: relative; }

  #footer_bg {
    background: none;
    height: auto; }

  #footer_bg dl {
    background: none;
    padding: 20px 10px;
    height: auto;
    overflow: visible;
    text-indent: 0;
    white-space: normal; }

  #footer_bg dd {
    margin: 0; }

  footer .inquiryBox {
    border-top: 1px solid #cecece; }

  footer .inquiry {
    padding: 20px 10px;
    text-align: center; }

  .inquiry_inner {
    background: #fff;
    margin-top: 10px;
    padding: 20px 10px 5px;
    line-height: 1 !important; }

  .inquiry_tel {
    color: #e60000;
    font-weight: bold;
    line-height: 1 !important; }

  .inquiry_telnum {
    font-size: 32px;
    font-weight: bold;
    line-height: 1 !important; }

  .inquiry_telnum a {
    color: #e60000 !important;
    text-decoration: none !important; }

  .inquiry_telnum a::before {
    content: "";
    display: inline-block;
    background: url(/lp/wbo/images/icon_inquiry_tel.png) no-repeat 0 0;
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 5px; }

  .inquiry_time {
    margin-top: 15px;
    line-height: 0.8 !important; }

  .inquiry_time > span {
    font-weight: bold;
    display: block; }

  #footer_textlink {
    width: auto; }

  #footer_textlink li {
    display: block;
    overflow: visible;
    padding: 0; }

  #footer_inner2 li {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    border-right: none !important; }

  #footer_textlink ul, #footer .contents_inner {
    background-color: #fff;
    margin: 0 !important;
    padding: 0 !important; }

  #footer_inner2 {
    padding: 0;
    border-top: none;
    background: none; }

  #footer_textlink li a, #footer_inner2 li a {
    background: none;
    color: #595857;
    border-bottom: 1px solid #eeeeee;
    display: block;
    font-size: 12px;
    line-height: 1.7;
    padding: 11px 35px 11px 9px;
    position: relative;
    text-align: left;
    text-decoration: none; }

  #footer_textlink li a:after, #footer_inner2 li a:after {
    background-image: url(/lp/wbo/images/bg_nav_fnavi_01.png);
    background-size: 6px 12px;
    content: "";
    width: 6px;
    height: 12px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px; }

  #footer_textlink li a[href$=".pdf"]:after, #footer_inner2 li a[href$=".pdf"]:after {
    background-image: url(/lp/wbo/images/icon_footer_pdf.png);
    background-size: 28px 15px;
    width: 28px;
    height: 15px;
    right: 6px;
    margin-top: -8px; }

  span.pdf {
    background: none;
    min-height: 0;
    padding: 0; }

  #copyright {
    background-color: #fff;
    display: block;
    text-align: center;
    padding: 4px 0 5px;
    margin: 0; }

  #copyright img {
    width: 280px;
    vertical-align: baseline; }

  #footer_inner3 {
    border-bottom: 2px #E60000 solid;
    padding: 15px 5px 15px 15px; }

  #footer_inner3 img:last-child {
    display: block;
    width: 260px; }

  #pagetop_btn a {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: none;
  }

  #page-top {
    width: 40px;
    height: 40px;
    bottom: 3%;
    right: 25px;
    font-size: 1.6rem; }

  #footer_bana,
  #footer_textlink hr,
  #footer_textlink li span:not(.pdf),
  #footer_inner2 li span:not(.pdf),
  #footer_textlink li.spNone:not(.pdf),
  #footer_inner3 img:first-child {
    display: none; } }
/* スマホ対応 */
/* ランドスケープ時(横向き表示時)の表示調整 */
@media only screen and (max-width: 823px) and (max-height: 414px) and (orientation: landscape) {
  #footer {
    border-top: 1px solid #cecece;
    margin-top: 0;
    padding-bottom: 42px;
    position: relative; }

  #footer_bg {
    background: none;
    height: auto; }

  #footer_bg dl {
    background: none;
    padding: 20px 10px;
    height: auto;
    overflow: visible;
    text-indent: 0;
    white-space: normal; }

  #footer_bg dd {
    margin: 0; }

  footer .inquiryBox {
    border-top: 1px solid #cecece; }

  footer .inquiry {
    padding: 20px 10px;
    text-align: center; }

  .inquiry_inner {
    background: #fff;
    margin-top: 15px;
    padding: 20px 10px; }

  .inquiry_tel {
    color: #e60000;
    font-weight: bold; }

  .inquiry_telnum {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px; }

  .inquiry_telnum a {
    color: #e60000 !important;
    text-decoration: none !important; }

  .inquiry_telnum a::before {
    content: "";
    display: inline-block;
    background: url(/lp/wbo/images/icon_inquiry_tel.png) no-repeat 0 0;
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 5px; }

  .inquiry_time {
    margin-top: 15px;
    line-height: 1.4 !important; }

  .inquiry_time > span {
    font-weight: bold;
    display: block; }

  #footer_textlink {
    width: auto; }

  #footer_textlink li {
    display: block;
    overflow: visible;
    padding: 0; }

  #footer_inner2 li {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    border-right: none !important; }

  #footer_textlink ul, #footer .contents_inner {
    background-color: #fff;
    margin: 0 !important;
    padding: 0 !important; }

  #footer_inner2 {
    padding: 0;
    border-top: none;
    background: none; }

  #footer_textlink li a, #footer_inner2 li a {
    background: none;
    color: #595857;
    border-bottom: 1px solid #eeeeee;
    display: block;
    font-size: 1.2rem;
    line-height: 1.7;
    padding: 11px 35px 11px 9px;
    position: relative;
    text-align: left;
    text-decoration: none; }

  #footer_textlink li a:after, #footer_inner2 li a:after {
    background-image: url(/lp/wbo/images/images/bg_nav_fnavi_01.png);
    background-size: 6px 12px;
    content: "";
    width: 6px;
    height: 12px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px; }

  #footer_textlink li a[href$=".pdf"]:after, #footer_inner2 li a[href$=".pdf"]:after {
    background-image: url(/lp/wbo/images/images/icon_footer_pdf.png);
    background-size: 28px 15px;
    width: 28px;
    height: 15px;
    right: 6px;
    margin-top: -8px; }

  span.pdf {
    background: none;
    min-height: 0;
    padding: 0; }

  #copyright {
    background-color: #fff;
    display: block;
    text-align: center;
    padding: 4px 0 5px;
    margin: 0; }

  #copyright img {
    width: 280px;
    vertical-align: baseline; }

  #footer_inner3 {
    border-bottom: 2px #E60000 solid;
    padding: 15px 5px 15px 15px; }

  #footer_inner3 img:last-child {
    display: block;
    width: 260px; }

  #pagetop_btn {
    background: #f0f0f0 url(bg_nav_fnavi_01btn_scroll_top.png) no-repeat center center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 42px; }

  #pagetop_btn a {
    background: none;
    float: none;
    margin-top: 0;
    position: static;
    width: 100%;
    height: 42px; }

  #page-top {
    width: 40px;
    height: 40px;
    bottom: 3%;
    right: 25px;
    font-size: 1.6rem; }

  #footer_bana,
  #footer_textlink hr,
  #footer_textlink li span:not(.pdf),
  #footer_inner2 li span:not(.pdf),
  #footer_textlink li.spNone:not(.pdf),
  #footer_inner3 img:first-child {
    display: none !important; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #pagetop_btn a {
    left: -10vw; }

  #footer_bana {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap; }

  #footer_bana li {
    margin-top: 20px;
    margin-right: 0;
    flex: 1 1 auto; } }
@media screen and (min-width: 768px) {
  .str-footer-important-box-inner__title::before {
    width: 22px;
    height: 22px;
  }
  .str-footer-list-link--bottom {
    gap: 10px 40px;
  }
  .str-footer-list-link__link {
    font-size: 14px;
  }
  .str-footer-important-box-inner {
    flex-direction: row;
  }
}
