.jstream-eqPlayer html,
.jstream-eqPlayer body,
.jstream-eqPlayer div,
.jstream-eqPlayer span,
.jstream-eqPlayer object,
.jstream-eqPlayer iframe,
.jstream-eqPlayer h1,
.jstream-eqPlayer h2,
.jstream-eqPlayer h3,
.jstream-eqPlayer h4,
.jstream-eqPlayer h5,
.jstream-eqPlayer h6,
.jstream-eqPlayer p,
.jstream-eqPlayer blockquote,
.jstream-eqPlayer pre,
.jstream-eqPlayer abbr,
.jstream-eqPlayer address,
.jstream-eqPlayer cite,
.jstream-eqPlayer code,
.jstream-eqPlayer del,
.jstream-eqPlayer dfn,
.jstream-eqPlayer em,
.jstream-eqPlayer img,
.jstream-eqPlayer ins,
.jstream-eqPlayer kbd,
.jstream-eqPlayer q,
.jstream-eqPlayer samp,
.jstream-eqPlayer small,
.jstream-eqPlayer strong,
.jstream-eqPlayer sub,
.jstream-eqPlayer sup,
.jstream-eqPlayer var,
.jstream-eqPlayer b,
.jstream-eqPlayer i,
.jstream-eqPlayer dl,
.jstream-eqPlayer dt,
.jstream-eqPlayer dd,
.jstream-eqPlayer ol,
.jstream-eqPlayer ul,
.jstream-eqPlayer li,
.jstream-eqPlayer fieldset,
.jstream-eqPlayer form,
.jstream-eqPlayer label,
.jstream-eqPlayer legend,
.jstream-eqPlayer table,
.jstream-eqPlayer caption,
.jstream-eqPlayer tbody,
.jstream-eqPlayer tfoot,
.jstream-eqPlayer thead,
.jstream-eqPlayer tr,
.jstream-eqPlayer th,
.jstream-eqPlayer td,
.jstream-eqPlayer article,
.jstream-eqPlayer aside,
.jstream-eqPlayer canvas,
.jstream-eqPlayer details,
.jstream-eqPlayer figcaption,
.jstream-eqPlayer figure,
.jstream-eqPlayer footer,
.jstream-eqPlayer header,
.jstream-eqPlayer hgroup,
.jstream-eqPlayer menu,
.jstream-eqPlayer nav,
.jstream-eqPlayer section,
.jstream-eqPlayer summary,
.jstream-eqPlayer time,
.jstream-eqPlayer mark,
.jstream-eqPlayer audio,
.jstream-eqPlayer video {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.jstream-eqPlayer #content {
    margin: 0px;
    padding: 0px;
}

.jstream-eqPlayer .jstream-eqPlayer-footer {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 12px;
    height: 20px;
    color: #ffffff;
    text-align: right;
    display: table !important;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    position: absolute !important;
    bottom: 0px;
    left: 0px;
    white-space: nowrap;
}

.jstream-eqPlayer .jstream-eqPlayer-footer span {
    display: table-cell !important;
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}

.jstream-eqPlayer .error {
    width: 80%;
    height: 80%;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: none;
    margin-left: 10%;
    margin-top: 10%;
    border-collapse: collapse;
    font-size: 10pt;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.jstream-eqPlaye-closeBtn {
    width: 43px;
    height: 20px;
    position: absolute !important;
    right: 0px;
    top: -23px;
    background-image: url("close_btn_text.png");
    cursor: hand;
}

.jstream-eqPlayer-flowtingBackground {
    position: absolute !important;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    background-color: #000;
}

.jstream-eqPlaye-flowtingShadow {
    background-color: #000;
    /*border : solid 3px #fff; */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.jstream-eqPlaye-flowtingShadow-rpAnimated {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.jstream-eqPlayer .error .eh td {
    background-color: #222222;
    height: 34px;
    margin: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    background: #212121;
    /* Old browsers */
    background: #2b2b2b;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjFmMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #1f1f1f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #1f1f1f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #1f1f1f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2b2b2b 0%, #1f1f1f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2b2b2b 0%, #1f1f1f 100%);
    /* IE10+ */
    background: linear-gradient(top, #2b2b2b 0%, #1f1f1f 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#1f1f1f', GradientType=0);
    /* IE6-8 */
}

.jstream-eqPlayer .error .eb td {
    background-color: #212121;
    margin: 0px;
    padding: 5px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 34px;
}


/*
.errorDialog {
	position: absolute;
	left: 50%;
	top : 50%;
	margin-left: -75px;
	margin-top:  -62px;
}
*/

.jstream-eqPlayer .errorDialog {
    font-size: 10pt;
    position: absolute !important;
    max-height: 266px;
    max-width: 526px;
    color: #ffffff;
    width: 80%;
    line-height: 15px;
}

.jstream-eqPlayer .errorDialogHeader {
    position: relative !important;
    color: #ffffff;
    z-index: 100;
    line-height: 12px;
}

.jstream-eqPlayer .errorContent {
    position: relative !important;
    height: 100px;
}

.jstream-eqPlayer .hr {
    position: absolute !important;
    top: 0px;
    right: 0px;
    height: 34px;
    width: 12px;
    background-image: url(hr.png);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.jstream-eqPlayer .hl {
    padding: 8px;
    margin-right: 12px;
    height: 18px;
    background-image: url(hl.png);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.jstream-eqPlayer .bl {
    height: 84px;
    padding: 8px;
    margin-right: 10px;
    background-image: url(bl.png);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.jstream-eqPlayer .bl p {
    display: block !important;
    position: relative !important;
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
}

.jstream-eqPlayer .br {
    top: 0px;
    height: 100px;
    width: 10px;
    background-image: url(br.png);
    right: 0px;
    position: absolute !important;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.jstream-eqPlayer .info_header,
.jstream-eqPlayer .info_header_s,
.jstream-eqPlayer .info_header_ss {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-bottom: 1px solid #5e5e5e;
    display: table !important;
}

.jstream-eqPlayer .info_icon_alert {
    background-position: -144px -30px;
    width: 22px;
    height: 22px;
    float: left;
    margin: 3px;
    background-image: url("html5player.png"), none;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
}

.jstream-eqPlayer .info_title,
.jstream-eqPlayer .info_title_s,
.jstream-eqPlayer .info_title_ss {
    color: white;
    width: 100%;
    padding: 5px 0;
    vertical-align: middle;
    display: table-cell !important;
}

.jstream-eqPlayer .info_title_s,
.jstream-eqPlayer .info_title_ss {
    font-size: 12px;
}

.jstream-eqPlayer .info_main,
.jstream-eqPlayer .info_main_s,
.jstream-eqPlayer .info_main_ss {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.jstream-eqPlayer .login_text_input,
.jstream-eqPlayer .login_text_input_s,
.jstream-eqPlayer .login_text_input_ss {
    opacity: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    vertical-align: middle;
    font-size: 15px;
    white-space: nowrap;
    margin: 0 0 5px 0;
    text-overflow: ellipsis;
    position: relative !important;
}

.jstream-eqPlayer .login_text_input_s {
    height: 18px;
    font-size: 14px;
    padding: 3px;
}

.jstream-eqPlayer .login_text_input_ss {
    height: 15px;
    font-size: 12px;
    padding: 2px;
}

.jstream-eqPlayer .water_mark_wrapper {
    display: table-cell !important;
    vertical-align: middle;
    cursor: pointer;
}

.jstream-eqPlayer .water_mark {
    margin: auto;
    position: relative !important;
    width: 60px;
    height: 60px;
    border: 3px solid #ffffff;
    border-radius: 100%;
}

.jstream-eqPlayer .water_mark::before {
    content: "";
    position: absolute !important;
    top: 21%;
    left: 32%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 0 17px 29.4px;
    border-color: transparent transparent transparent #ffffff;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #ffffff;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
}

.jstream-eqPlayer .water_mark_square {
    margin: auto;
    position: relative !important;
    width: 60px;
    height: 60px;
    background-image: url(./play_new.png);
    background-size: contain
}



.jstream-eqPlayer .water_mark_small {
    margin: auto;
    position: relative !important;
    width: 40px;
    height: 40px;
    background-image: url(./play_new.png);
    background-size: contain
}



.jstream-eqPlayer .eq-livemark {
    position: absolute;
    left: 10px;
    color: white;
    height: 20px;
    width: 40px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    background-color: #ff3300;
    font-size: 15px;
    z-index: 11;
}
.jstream-eqPlayer .eq-livemark.animation{
    background: linear-gradient(270deg,#FF3300, rgb(255, 163, 163)) 0% 0% / 400% 400%;
    -webkit-animation: LiveMarkAnimation 2s ease infinite;
    -moz-animation: LiveMarkAnimation 2s ease infinite;
    animation: LiveMarkAnimation 2s ease infinite;
}

.jstream-eqPlayer .eq-livemark_useHeader {
    top: 40px;
}

.jstream-eqPlayer .eq-livemark_noHeader {
    top: 10px;
}

.jstream-eqPlayer .eq-testmark {
    position: absolute;
    color: white;
    left: 10px;
    text-align: center;
    z-index: 1;
    font-size: 11px;
}
.jstream-eqPlayer .eq-testlabel{
    width: 60px;
    height: 20px;
    background: rgba(0, 200, 120, 1);
    line-height: 20px;
}
.jstream-eqPlayer .useCTRL {
    bottom: 60px;
}

.jstream-eqPlayer .noCTRL {
    bottom: 30px;
}
@-webkit-keyframes LiveMarkAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes LiveMarkAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes LiveMarkAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.jstream-eqPlayer .eq-viewers{
        position: absolute;
        margin-left: 55px;
        color: white;
        height: 20px;
        width: 100%;
        line-height: 20px;
        vertical-align: middle;
        text-align: left;
        font-size: 13px;
        z-index: 11;
}
.jstream-eqPlayer .eq-viewers.eq-viewers-icon{
    background-image: url("eq-viewers-icon.png");
    background-repeat: no-repeat;
}
.jstream-eqPlayer .eq-viewers_useHeader {
    top: 40px;
}

.jstream-eqPlayer .eq-viewers_noHeader {
    top: 10px;
}
