@charset "utf-8";
.eq-h5_player * {
	   box-sizing: border-box;
}
.eq-h5_player html, .eq-h5_player body, .eq-h5_player div, .eq-h5_player span, .eq-h5_player applet, .eq-h5_player object, .eq-h5_player iframe,
.eq-h5_player h1, .eq-h5_player h2, .eq-h5_player h3, .eq-h5_player h4, .eq-h5_player h5, .eq-h5_player h6, .eq-h5_player p, .eq-h5_player blockquote, .eq-h5_player pre,
.eq-h5_player a, .eq-h5_player abbr, .eq-h5_player acronym, .eq-h5_player address, .eq-h5_player big, .eq-h5_player cite, .eq-h5_player code,
.eq-h5_player del, .eq-h5_player dfn, .eq-h5_player em, .eq-h5_player img, .eq-h5_player ins, .eq-h5_player kbd, .eq-h5_player q, .eq-h5_player s, .eq-h5_player samp,
.eq-h5_player small, .eq-h5_player strike, .eq-h5_player strong, .eq-h5_player sub, .eq-h5_player sup, .eq-h5_player tt, .eq-h5_player var,
.eq-h5_player b, .eq-h5_player u, .eq-h5_player i, .eq-h5_player center,
.eq-h5_player dl, .eq-h5_player dt, .eq-h5_player dd, .eq-h5_player ol, .eq-h5_player ul, .eq-h5_player li,
.eq-h5_player fieldset, .eq-h5_player form, .eq-h5_player label, .eq-h5_player legend,
.eq-h5_player table, .eq-h5_player caption, .eq-h5_player tbody, .eq-h5_player tfoot, .eq-h5_player thead, .eq-h5_player tr, .eq-h5_player th, .eq-h5_player td,
.eq-h5_player article, .eq-h5_player aside, .eq-h5_player canvas, .eq-h5_player details, .eq-h5_player embed,
.eq-h5_player figure, .eq-h5_player figcaption, .eq-h5_player footer, .eq-h5_player header, .eq-h5_player hgroup,
.eq-h5_player menu, .eq-h5_player nav, .eq-h5_player output, .eq-h5_player ruby, .eq-h5_player section, .eq-h5_player summary,
.eq-h5_player time, .eq-h5_player mark, .eq-h5_player audio, .eq-h5_player video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}

.eq-h5_player article, .eq-h5_player aside, .eq-h5_player details, .eq-h5_player figcaption, .eq-h5_player figure,
.eq-h5_player footer, .eq-h5_player header, .eq-h5_player hgroup, .eq-h5_player menu, .eq-h5_player nav, .eq-h5_player section {
	display: block;
}


.eq-h5_player input, .eq-h5_player textarea {
	margin: 0;
	padding: 0;
	position: relative;
}

.eq-h5_player ol,.eq-h5_player ul{
    list-style:none;
}

.eq-h5_player table{
    border-collapse: collapse; 
    border-spacing:0;
}

.eq-h5_player caption, .eq-h5_player th{
    text-align: left;
}

.eq-h5_player input:focus,
.eq-h5_player a:focus {
	outline:none;
}
.eq-h5_player a {
	text-decoration:none;
}
.eq-h5_player .eq-clearfix:after {
	content: "."; 
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.eq-h5_player .eq-clearfix {
	min-height: 1px;
}


.eq-h5_player .both{
	clear:both;
}

.eq-h5_player .inline_block {  
	display: inline-block;  
	*display: inline;  
	*zoom: 1;  
}
.eq-h5_player button {
	border:none;
	background:none;
	padding:0;
}

.eq-h5_player button:focus {
	outline:none;
}
